//Colours
$accentColor: #ff006f;
$dullAccentColor: #e00061;
$darkcolor: #191c21;

//Font family
@mixin Montserrat {
  //   font-family: "Nunito Sans", sans-serif;
  //   font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
}

@mixin productSansBold {
  font-family: ProductSansBold;
}

@mixin productSansRegular {
  font-family: ProductSansRegular;
}

@mixin mathOperator {
  font-size: 1.3rem;
  padding-top: 1.5rem;
}

@mixin calckeys($color) {
  display: flex;
  padding: 1rem;
  background-color: #252932;
  justify-content: center;
  font-size: 1.3rem;
  color: $color;
  transform: scale(1);
  transition: 0.1s;

  &:hover {
    background-color: #15171d;
    transform: scale(1.02);
  }
}
