@import "configs";
@import "mediaquery";
@import "resets";

//Main page styling---------------------
.main-page {
  width: 100vw;
  height: 100vh;
  background-image: url("/Images/Main_Bg.png");
  background-size: 1920px 1080px;
}

//Nav buttons
.simple {
  padding: 1.5vh 5vh 1.5vh 5vh;
  border-radius: 7px 0px 0px 7px;
  background-color: black;
  color: $accentColor;
  font-weight: bold;
  border: 2px solid black;
  margin-right: 0px;
  @include productSansRegular;
  font-size: 1.2rem;
}

.scientific {
  padding: 1.5vh 4vh 1.5vh 4vh;
  border-radius: 0px 7px 7px 0px;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-left: -5px;
  @include productSansRegular;
  font-size: 1.2rem;
}

//Body

.main-content {
  height: 82vh;
}

.main-text h1 {
  font-size: 4.5rem;
  @include productSansRegular;
}

.main-text span {
  font-weight: bold;
  color: $accentColor;
}

//Calculator

.calculator {
  position: relative;
  max-width: 19%;
  // width: 20%;
  margin-top: 10vh;
  margin-left: 40vh;
  height: 68vh;
  background-color: $darkcolor;
  border-radius: 33px;
  box-shadow: 9px 10px 29px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  // justify-content: center;
}

//icons
.history {
  color: white;
  font-size: 1.3rem;
  transform: scale(1);
  transition: 0.4s;

  &:hover {
    color: $accentColor;
  }
}

.reset {
  color: rgb(187, 185, 185);
  font-size: 1.2rem;
  transition: 0.4s;
  padding-top: 0.3rem;

  &:hover {
    color: $accentColor;
  }
}

//calculations and result

.displayResult {
  color: white;
  height: 20vh;
}

.calculation span {
  color: $accentColor;
  margin-right: 2px;
  margin-left: 3px;
}

.result {
  font-size: 3.3rem;
  @include productSansRegular;
  height: 8vh;
}

.hidden {
  visibility: hidden;
}

//Expression history view
.history-view {
  position: absolute;
  width: 100%;
  height: 28%;
  overflow-y: scroll;
}

.history-view::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.history-view::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* color of the tracking area */
}

.history-view::-webkit-scrollbar-thumb {
  background-color: $accentColor; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid $accentColor; /* creates padding around scroll thumb */
}

// .hidden{
//   display: hidden;
//   visibility: hidden;
// }

.history-row {
  background-color: $darkcolor;
  color: rgb(172, 172, 172);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1rem;
}

.history-row span:nth-child(1) {
  color: white;
}

.history-row span:nth-child(3) {
  color: $accentColor;
  font-weight: bold;
  font-size: 1.2rem;
}

//Calculator keys

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 40vh;
  gap: 0px 0px;
  grid-template-areas:
    "clear plus-neg percentage divide"
    "seven eight Nine multiply"
    "four five six substract"
    "one two three plus"
    "empty zero dot equals";
}

.clear {
  grid-area: clear;
  @include calckeys(#aaaaaa);
}

.plus-neg {
  grid-area: plus-neg;
  @include calckeys(#aaaaaa);
}

.percentage {
  grid-area: percentage;
  @include calckeys(#aaaaaa);
}

.divide {
  grid-area: divide;
  @include calckeys($dullAccentColor);
  @include mathOperator;
}

.divide span {
  visibility: hidden;
}

.multiply {
  grid-area: multiply;
  @include calckeys($dullAccentColor);
  @include mathOperator;
}

.multiply span {
  visibility: hidden;
}

.substract {
  grid-area: substract;
  @include calckeys($dullAccentColor);
  @include mathOperator;
}

.substract span {
  visibility: hidden;
}

.plus {
  grid-area: plus;
  @include calckeys($dullAccentColor);
  @include mathOperator;
}

.plus span {
  visibility: hidden;
}

.equals {
  grid-area: equals;
  @include calckeys($accentColor);
  border-radius: 0px 0px 33px 0px;
  @include mathOperator;
  font-size: 1.5rem;
}

.equals span {
  visibility: hidden;
}

.Nine {
  grid-area: Nine;
  @include calckeys(white);
}

.eight {
  grid-area: eight;
  @include calckeys(white);
}

.seven {
  grid-area: seven;
  @include calckeys(white);
}

.six {
  grid-area: six;
  @include calckeys(white);
}

.five {
  grid-area: five;
  @include calckeys(white);
}

.four {
  grid-area: four;
  @include calckeys(white);
}

.three {
  grid-area: three;
  @include calckeys(white);
}

.two {
  grid-area: two;
  @include calckeys(white);
}

.one {
  grid-area: one;
  @include calckeys(white);
}

.zero {
  grid-area: zero;
  @include calckeys(white);
}

.dot {
  grid-area: dot;
  @include calckeys(white);
}

.empty {
  grid-area: empty;
  @include calckeys(#252932);
  border-radius: 0px 0px 0px 33px;

  &:hover {
    background-color: #252932;
  }
}
//placeholder
[contenteditable="false"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
}
